<% include header %>

<div style="padding: 20px;">
    <div>
        <img src="/img/pin_big.png" style="height: 80px">
    </div>
    <div>
        <img src="/img/linebub.png" style="max-height:50px; margin-top: 20px;">
    </div>
</div>
<div style="font-size: small; color: grey; margin: auto; padding-left: 30px; padding-bottom:15px"> 
    Tap once on the food you LIKE, tap twice for food you LOVE. This will help me get to know you better.
</div>
<div>
  <% for(var i=0; i< foods.length; i++) {%>
    <div class="thumbsquare" style="background-image: url(https://i.ytimg.com/vi/ETTyVQrUZt8/maxresdefault.jpg); background-size: auto 100%">
        <div class="liked" data-cat="<%= foods[i] %>">
             <img src="/img/Heart.png" style="opacity: 0.95; height: 50px !important; margin: auto" alt=""/>
        </div>
    </div>
  <% } %>
</div>
<div onclick="done()" class="successbtn">
   <h3>Done</h3>
</div>
<script>
    var likeness = {
        
    };
    
    
    function done(){
        console.log(likeness);
        $.ajax({
            url: '/training',
            type: 'post',
            data: {
             mid: '<%= mid %>',
             likeness:   likeness
            },
            success: function(data){
                console.log(data, 'pin spam');
            },
            error: function(x){
                console.log('err', x);
            }
        });
        window.location.href = "line://nv/profile";
    }
    
    $(document).ready(function(){
        $(".thumbsquare").height($(".thumbsquare").width());
        
        $(".thumbsquare").click(function(c){
            var like = $(this).find(".liked");
            like.show();
            var dataCat = like.attr("data-cat");
            if(likeness[dataCat] != 3) likeness[dataCat] = 1;
        });

        $(".liked").click(function(c){
           $(this).find("img").attr("src", "/img/HeartRed.png");
           var dataCat = $(this).attr("data-cat");
           likeness[dataCat] = 3;
           console.log('setting to 3');
        });

        $(".liked").hide();
    });
</script>
<% include footer %>